{{#partial "content"}}
<div class="content transparent">
  <h2 class="bvis-1 title">Pick a car</h2>
  <table class="table car-list">
    {{#each cars}}
    <tr>
      <td class="image"><img src="/images/{{image}}"></td>
      <td class="name">{{name}}</td>
      <td class="price">€{{pricePerDay}} <small>per day</small></td>
      <td class="select">
        <form action="/{{processInstanceId}}/pick-a-car" method="POST">
          <input name="id" type="hidden" value="{{id}}">
          <button type="submit" class="bvis-1-bg bvis-1-bg-hover button">Rent now</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </table>
</div>
{{/partial}}

{{> base}}